body {
    background-image: url(../Images/Mur.jpg);
    background-size: cover;
}

nav {
    text-align: center;

}

h1 {
    font-size: 50px;
    background-color: rgb(205, 255, 217);
    text-align: center;
}

.dog-with-family {
    width: 400px;
    float: left;
    position: absolute;
    right: 500px;
    border-radius: 3%;
    margin-top: 10px;
    margin-right: 40px;
    object-fit: cover;
}

.history {
    font-weight: bold;
}

#history-text-and-img-div{
    width: 500px;
    height: 50px;
    position: absolute;
    left: 650px;
}

#main{
    padding-top: 100px;
    padding-left: 150px;
}

aside{
    position: absolute;
    left: 1200px;
    background-color: aqua;
}

.short-menu-title{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    right: 25px;
}

#text {
    background-color: aqua;
}