
body {
    background-image: url(../Images/Mur.jpg); /* sets the background image */
    background-size: cover; /* makes the image cover the full webpage */
}

nav {
    text-align: center; /* aligns the navigation bar to the center */

}

h1 {
    font-size: 50px; /*sets the font size of the text*/
    background-color: rgb(205, 255, 217); /* sets the background color of the element */
    text-align: center; /* aligns the text of the element to the center */
}

.container {
    display: flex; /* allows for flexbox functionality */
    flex-direction: row; /* sets the direction elements are spaced in */
    justify-content: center; /* centers content horizontally  inside container */
    align-items: center; /* aligns to center vertically */
}


article {
    display: flex; /* allows for flexbox functionality */
    flex: 1; /* lets element fill entire container*/
    flex-direction: row;/* sets the direction elements are spaced in */
    padding: 5px;/* padding is set */
    padding-left: 100px; /* padding is set */
    padding-right: 100px; /* padding is set */
    margin: 20px;
    min-width: 200px;
    color: white;
}

.dog-with-family {
    width: 400px; /* sets the width */
    border-radius: 3%; /* curves the edges of the image */
    margin-top: 10px; /* sets margin */
    margin-right: 40px; 
    object-fit: cover; /* lets it cover its container */
}


@media screen and (max-width:600px), screen and (max-height: 800px) {/* targets the media  screen if it has a lower width than 300 or lower hight than 500 */
    body {
      zoom: 0.7;
    }

   .container {
      position: relative;
      left: -50px;
      padding: 10px;
    }
  
    .dog-with-family {
      display: none;
    }
  
    article {
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 20px;
      max-width: 5px;
      padding-left: 20px; /* padding is set */
      padding-right: 20px;/* padding is set */

    }
  
    p {
      font-size: 10px;
      line-height: 1.5;
    }
  
    ul {
      font-size: 14px;
      padding-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    ul li {
      margin-bottom: 8px;
    }
  }
  
  