body {
    background-image: url(../Images/Mur.jpg);
    background-size: cover;
}

nav {
    text-align: center;

}

h1 {
    font-size: 50px;
    background-color: rgb(205, 255, 217);
    text-align: center;
}

#locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    /* A shortcut exists for this the last 2 lines. flex-flow: row wrap; */
}

#smolna {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1; /*This dictates the priority of how much available space can be given. assuming three articles have 1-1-2 priority, then 1+1+2=4 meaning that eaach article with a priority of 1 will take up 1/4 of thee available space, and the largest article, with a priority of 2, will take up 2/4 of the available space. */
}

#smolna-top{
    display: flex;
    flex: 1 100px;
    flex-flow: row;
    flex-direction: row;
    background-color: aqua;
}

#smolna-image{
    width: 200px;
    height: 200px;

}

#smolna-bottom{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row; 


}

#pierwszego-maja{
    flex: 1;
}



#kosciuszki{
    flex: 1;
}



article {
    flex: 200px; /*the relevant articles will be AT LEAST 200 px wide.*/
    padding: 10px;
    margin: 10px;
    background: aqua;
}





